.itemListContainer {
  background-color: #f1f1f1;
}

.ppalTitle {
  font-size: 60px;
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: italic;
  margin: 20px;
  padding: 10px;
}

.cardContainer {
  margin: 10px;
  padding: 10px;
}

.card {
  width: 250px;
  margin: 10px;
  padding: 10px;
}

.cardTitle {
  margin-top: 5px;
  font-size: 22px;
  font-family: "Lobster Two", cursive;
}

.cardImg {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 4px solid #c7a438;
  background-color: #010101;
  width: 100%;
  height: auto;
}

.cardText {
  font-size: 16px;
  font-family: "Crimson Text", serif;
  font-style: italic;
  font-weight: 400;
}

.cardFooterTxt {
  font-family: "Crimson Text", serif;
  font-weight: bold;
  font-size: 18px;
}
