.logoImg {
  width: 150px;
  height: 150px;
  border-radius: 80px;
  border: 2px solid #c7a438;
}

.navItem {
  font-size: 20px;
  font-family: "Crimson Text", serif;
  font-weight: bold;
  font-style: italic;
  transition: color 0.3s;
}

